extends ../layouts/default

block content
	.page-heading
		.container
			.row
				.col-xs-12
					.page-title
						h2 购物车
	.main-container.col1-layout.wow.bounceInUp.animated
		.main.container
			.cart.wow.bounceInUp.animated
				.table-responsive.shopping-cart-tbl.container
					form(action='', method='post')
						input(name='form_key', type='hidden', value='EPYwQxF6xoWcjLUr')
						fieldset
							table#shopping-cart-table.data-table.cart-table.table-striped
								colgroup
									col(width='1')
									col
									col(width='1')
									col(width='1')
									col(width='1')
									col(width='1')
									col(width='1')
								thead
									tr.first.last
										th(rowspan='1')  
										th(rowspan='1')
											span.nobr Product Name
										th(rowspan='1')
										th.a-center(colspan='1')
											span.nobr Unit Price
										th.a-center(rowspan='1') Qty
										th.a-center(colspan='1') Subtotal
										th.a-center(rowspan='1')  
								tfoot
									tr.first.last
										td.a-right.last(colspan='50')
											button.button.btn-continue(type='button', title='Continue Shopping', onclick='')
												span
													span Continue Shopping
											button.button.btn-update(type='submit', name='update_cart_action', value='update_qty', title='Update Cart')
												span
													span Update Cart
											button#empty_cart_button.button.btn-empty(type='submit', name='update_cart_action', value='empty_cart', title='Clear Cart')
												span
													span Clear Cart
								tbody
									tr.first.last.odd
										td.image.hidden-table
											a.product-image(href='product-detail.html', title="Women's Georgette Animal Print")
												img(src='products-images/p8.jpg', width='75', alt="Women's Georgette Animal Print")
										td
											h2.product-name
												a(href='product-detail.html') Retis lapen casen
										td.a-center.hidden-table
											a.edit-bnt(href='#', title='Edit item parameters')
										td.a-right.hidden-table
											span.cart-price
												span.price $129.00
										td.a-center.movewishlist
											input.input-text.qty(name='cart[26340][qty]', value='1', size='4', title='Qty', maxlength='12')
										td.a-right.movewishlist
											span.cart-price
												span.price $129.00
										td.a-center.last
											a.button.remove-item(href='#', title='Remove item')
												span
													span Remove item
									tr.odd
										td.image.hidden-table
											a.product-image(href='product-detail.html', title="Women's Georgette Animal Print")
												img(src='products-images/p3.jpg', width='75', alt="Women's Georgette Animal Print")
										td
											h2.product-name
												a(href='product-detail.html') Retis lapen casen
										td.a-center.hidden-table
											a.edit-bnt(href='#', title='Edit item parameters')
										td.a-right.hidden-table
											span.cart-price
												span.price $129.00
										td.a-center.movewishlist
											input.input-text.qty(name='cart[26340][qty]', value='1', size='4', title='Qty', maxlength='12')
										td.a-right.movewishlist
											span.cart-price
												span.price $129.00
										td.a-center.last
											a.button.remove-item(href='#', title='Remove item')
												span
													span Remove item
									tr.odd
										td.image.hidden-table
											a.product-image(href='product-detail.html', title="Women's Georgette Animal Print")
												img(src='products-images/p1.jpg', width='75', alt="Women's Georgette Animal Print")
										td
											h2.product-name
												a(href='product-detail.html') Retis lapen casen
										td.a-center.hidden-table
											a.edit-bnt(href='#', title='Edit item parameters')
										td.a-right.hidden-table
											span.cart-price
												span.price $129.00
										td.a-center.movewishlist
											input.input-text.qty(name='cart[26340][qty]', value='1', size='4', title='Qty', maxlength='12')
										td.a-right.movewishlist
											span.cart-price
												span.price $129.00
										td.a-center.last
											a.button.remove-item(href='#', title='Remove item')
												span
													span Remove item
									tr.last
										td.image.hidden-table
											a.product-image(href='product-detail.html', title="Women's Georgette Animal Print")
												img(src='products-images/p9.jpg', width='75', alt="Women's Georgette Animal Print")
										td
											h2.product-name
												a(href='product-detail.html') Retis lapen casen
										td.a-center.hidden-table
											a.edit-bnt(href='#', title='Edit item parameters')
										td.a-right.hidden-table
											span.cart-price
												span.price $129.00
										td.a-center.movewishlist
											input.input-text.qty(name='cart[26340][qty]', value='1', size='4', title='Qty', maxlength='12')
										td.a-right.movewishlist
											span.cart-price
												span.price $129.00
										td.a-center.last
											a.button.remove-item(href='#', title='Remove item')
												span
													span Remove item
				// BEGIN CART COLLATERALS
				.cart-collaterals.container
					// BEGIN COL2 SEL COL 1
					// BEGIN TOTALS COL 2
					.col-sm-4
						.shipping
							h3 Estimate Shipping and Tax
							.shipping-form
								form#shipping-zip-form(action='', method='post')
									p Enter your destination to get a shipping estimate.
									ul.form-list
										li
											label.required(for='country')
												em *
												| Country
											.input-box
												select#country.validate-select(name='country_id', title='Country')
													option(value='')  
													option(value='AF') Afghanistan
													option(value='AX') Åland Islands
													option(value='AL') Albania
													option(value='DZ') Algeria
													option(value='AS') American Samoa
													option(value='AD') Andorra
													option(value='AO') Angola
													option(value='AI') Anguilla
													option(value='AQ') Antarctica
													option(value='AG') Antigua and Barbuda
													option(value='AR') Argentina
													option(value='AM') Armenia
													option(value='AW') Aruba
													option(value='AU') Australia
													option(value='AT') Austria
													option(value='AZ') Azerbaijan
													option(value='BS') Bahamas
													option(value='BH') Bahrain
													option(value='BD') Bangladesh
													option(value='BB') Barbados
													option(value='BY') Belarus
													option(value='BE') Belgium
													option(value='BZ') Belize
													option(value='BJ') Benin
													option(value='BM') Bermuda
													option(value='BT') Bhutan
													option(value='BO') Bolivia
													option(value='BA') Bosnia and Herzegovina
													option(value='BW') Botswana
													option(value='BV') Bouvet Island
													option(value='BR') Brazil
													option(value='IO') British Indian Ocean Territory
													option(value='VG') British Virgin Islands
													option(value='BN') Brunei
													option(value='BG') Bulgaria
													option(value='BF') Burkina Faso
													option(value='BI') Burundi
													option(value='KH') Cambodia
													option(value='CM') Cameroon
													option(value='CA') Canada
													option(value='CV') Cape Verde
													option(value='KY') Cayman Islands
													option(value='CF') Central African Republic
													option(value='TD') Chad
													option(value='CL') Chile
													option(value='CN') China
													option(value='CX') Christmas Island
													option(value='CC') Cocos [Keeling] Islands
													option(value='CO') Colombia
													option(value='KM') Comoros
													option(value='CG') Congo - Brazzaville
													option(value='CD') Congo - Kinshasa
													option(value='CK') Cook Islands
													option(value='CR') Costa Rica
													option(value='CI') Côte d’Ivoire
													option(value='HR') Croatia
													option(value='CU') Cuba
													option(value='CY') Cyprus
													option(value='CZ') Czech Republic
													option(value='DK') Denmark
													option(value='DJ') Djibouti
													option(value='DM') Dominica
													option(value='DO') Dominican Republic
													option(value='EC') Ecuador
													option(value='EG') Egypt
													option(value='SV') El Salvador
													option(value='GQ') Equatorial Guinea
													option(value='ER') Eritrea
													option(value='EE') Estonia
													option(value='ET') Ethiopia
													option(value='FK') Falkland Islands
													option(value='FO') Faroe Islands
													option(value='FJ') Fiji
													option(value='FI') Finland
													option(value='FR') France
													option(value='GF') French Guiana
													option(value='PF') French Polynesia
													option(value='TF') French Southern Territories
													option(value='GA') Gabon
													option(value='GM') Gambia
													option(value='GE') Georgia
													option(value='DE') Germany
													option(value='GH') Ghana
													option(value='GI') Gibraltar
													option(value='GR') Greece
													option(value='GL') Greenland
													option(value='GD') Grenada
													option(value='GP') Guadeloupe
													option(value='GU') Guam
													option(value='GT') Guatemala
													option(value='GG') Guernsey
													option(value='GN') Guinea
													option(value='GW') Guinea-Bissau
													option(value='GY') Guyana
													option(value='HT') Haiti
													option(value='HM') Heard Island and McDonald Islands
													option(value='HN') Honduras
													option(value='HK') Hong Kong SAR China
													option(value='HU') Hungary
													option(value='IS') Iceland
													option(value='IN') India
													option(value='ID') Indonesia
													option(value='IR') Iran
													option(value='IQ') Iraq
													option(value='IE') Ireland
													option(value='IM') Isle of Man
													option(value='IL') Israel
													option(value='IT') Italy
													option(value='JM') Jamaica
													option(value='JP') Japan
													option(value='JE') Jersey
													option(value='JO') Jordan
													option(value='KZ') Kazakhstan
													option(value='KE') Kenya
													option(value='KI') Kiribati
													option(value='KW') Kuwait
													option(value='KG') Kyrgyzstan
													option(value='LA') Laos
													option(value='LV') Latvia
													option(value='LB') Lebanon
													option(value='LS') Lesotho
													option(value='LR') Liberia
													option(value='LY') Libya
													option(value='LI') Liechtenstein
													option(value='LT') Lithuania
													option(value='LU') Luxembourg
													option(value='MO') Macau SAR China
													option(value='MK') Macedonia
													option(value='MG') Madagascar
													option(value='MW') Malawi
													option(value='MY') Malaysia
													option(value='MV') Maldives
													option(value='ML') Mali
													option(value='MT') Malta
													option(value='MH') Marshall Islands
													option(value='MQ') Martinique
													option(value='MR') Mauritania
													option(value='MU') Mauritius
													option(value='YT') Mayotte
													option(value='MX') Mexico
													option(value='FM') Micronesia
													option(value='MD') Moldova
													option(value='MC') Monaco
													option(value='MN') Mongolia
													option(value='ME') Montenegro
													option(value='MS') Montserrat
													option(value='MA') Morocco
													option(value='MZ') Mozambique
													option(value='MM') Myanmar [Burma]
													option(value='NA') Namibia
													option(value='NR') Nauru
													option(value='NP') Nepal
													option(value='NL') Netherlands
													option(value='AN') Netherlands Antilles
													option(value='NC') New Caledonia
													option(value='NZ') New Zealand
													option(value='NI') Nicaragua
													option(value='NE') Niger
													option(value='NG') Nigeria
													option(value='NU') Niue
													option(value='NF') Norfolk Island
													option(value='MP') Northern Mariana Islands
													option(value='KP') North Korea
													option(value='NO') Norway
													option(value='OM') Oman
													option(value='PK') Pakistan
													option(value='PW') Palau
													option(value='PS') Palestinian Territories
													option(value='PA') Panama
													option(value='PG') Papua New Guinea
													option(value='PY') Paraguay
													option(value='PE') Peru
													option(value='PH') Philippines
													option(value='PN') Pitcairn Islands
													option(value='PL') Poland
													option(value='PT') Portugal
													option(value='PR') Puerto Rico
													option(value='QA') Qatar
													option(value='RE') Réunion
													option(value='RO') Romania
													option(value='RU') Russia
													option(value='RW') Rwanda
													option(value='BL') Saint Barthélemy
													option(value='SH') Saint Helena
													option(value='KN') Saint Kitts and Nevis
													option(value='LC') Saint Lucia
													option(value='MF') Saint Martin
													option(value='PM') Saint Pierre and Miquelon
													option(value='VC') Saint Vincent and the Grenadines
													option(value='WS') Samoa
													option(value='SM') San Marino
													option(value='ST') São Tomé and Príncipe
													option(value='SA') Saudi Arabia
													option(value='SN') Senegal
													option(value='RS') Serbia
													option(value='SC') Seychelles
													option(value='SL') Sierra Leone
													option(value='SG') Singapore
													option(value='SK') Slovakia
													option(value='SI') Slovenia
													option(value='SB') Solomon Islands
													option(value='SO') Somalia
													option(value='ZA') South Africa
													option(value='GS') South Georgia and the South Sandwich Islands
													option(value='KR') South Korea
													option(value='ES') Spain
													option(value='LK') Sri Lanka
													option(value='SD') Sudan
													option(value='SR') Suriname
													option(value='SJ') Svalbard and Jan Mayen
													option(value='SZ') Swaziland
													option(value='SE') Sweden
													option(value='CH') Switzerland
													option(value='SY') Syria
													option(value='TW') Taiwan
													option(value='TJ') Tajikistan
													option(value='TZ') Tanzania
													option(value='TH') Thailand
													option(value='TL') Timor-Leste
													option(value='TG') Togo
													option(value='TK') Tokelau
													option(value='TO') Tonga
													option(value='TT') Trinidad and Tobago
													option(value='TN') Tunisia
													option(value='TR') Turkey
													option(value='TM') Turkmenistan
													option(value='TC') Turks and Caicos Islands
													option(value='TV') Tuvalu
													option(value='UG') Uganda
													option(value='UA') Ukraine
													option(value='AE') United Arab Emirates
													option(value='GB') United Kingdom
													option(value='US', selected='selected') United States
													option(value='UY') Uruguay
													option(value='UM') U.S. Minor Outlying Islands
													option(value='VI') U.S. Virgin Islands
													option(value='UZ') Uzbekistan
													option(value='VU') Vanuatu
													option(value='VA') Vatican City
													option(value='VE') Venezuela
													option(value='VN') Vietnam
													option(value='WF') Wallis and Futuna
													option(value='EH') Western Sahara
													option(value='YE') Yemen
													option(value='ZM') Zambia
													option(value='ZW') Zimbabwe
										li
											label(for='region_id') State/Province
											.input-box
												select#region_id.required-entry.validate-select(name='region_id', title='State/Province', defaultvalue='')
													option(value='') Please select region, state or province
													option(value='1', title='Alabama') Alabama
													option(value='2', title='Alaska') Alaska
													option(value='3', title='American Samoa') American Samoa
													option(value='4', title='Arizona') Arizona
													option(value='5', title='Arkansas') Arkansas
													option(value='6', title='Armed Forces Africa') Armed Forces Africa
													option(value='7', title='Armed Forces Americas') Armed Forces Americas
													option(value='8', title='Armed Forces Canada') Armed Forces Canada
													option(value='9', title='Armed Forces Europe') Armed Forces Europe
													option(value='10', title='Armed Forces Middle East') Armed Forces Middle East
													option(value='11', title='Armed Forces Pacific') Armed Forces Pacific
													option(value='12', title='California') California
													option(value='13', title='Colorado') Colorado
													option(value='14', title='Connecticut') Connecticut
													option(value='15', title='Delaware') Delaware
													option(value='16', title='District of Columbia') District of Columbia
													option(value='17', title='Federated States Of Micronesia') Federated States Of Micronesia
													option(value='18', title='Florida') Florida
													option(value='19', title='Georgia') Georgia
													option(value='20', title='Guam') Guam
													option(value='21', title='Hawaii') Hawaii
													option(value='22', title='Idaho') Idaho
													option(value='23', title='Illinois') Illinois
													option(value='24', title='Indiana') Indiana
													option(value='25', title='Iowa') Iowa
													option(value='26', title='Kansas') Kansas
													option(value='27', title='Kentucky') Kentucky
													option(value='28', title='Louisiana') Louisiana
													option(value='29', title='Maine') Maine
													option(value='30', title='Marshall Islands') Marshall Islands
													option(value='31', title='Maryland') Maryland
													option(value='32', title='Massachusetts') Massachusetts
													option(value='33', title='Michigan') Michigan
													option(value='34', title='Minnesota') Minnesota
													option(value='35', title='Mississippi') Mississippi
													option(value='36', title='Missouri') Missouri
													option(value='37', title='Montana') Montana
													option(value='38', title='Nebraska') Nebraska
													option(value='39', title='Nevada') Nevada
													option(value='40', title='New Hampshire') New Hampshire
													option(value='41', title='New Jersey') New Jersey
													option(value='42', title='New Mexico') New Mexico
													option(value='43', title='New York') New York
													option(value='44', title='North Carolina') North Carolina
													option(value='45', title='North Dakota') North Dakota
													option(value='46', title='Northern Mariana Islands') Northern Mariana Islands
													option(value='47', title='Ohio') Ohio
													option(value='48', title='Oklahoma') Oklahoma
													option(value='49', title='Oregon') Oregon
													option(value='50', title='Palau') Palau
													option(value='51', title='Pennsylvania') Pennsylvania
													option(value='52', title='Puerto Rico') Puerto Rico
													option(value='53', title='Rhode Island') Rhode Island
													option(value='54', title='South Carolina') South Carolina
													option(value='55', title='South Dakota') South Dakota
													option(value='56', title='Tennessee') Tennessee
													option(value='57', title='Texas') Texas
													option(value='58', title='Utah') Utah
													option(value='59', title='Vermont') Vermont
													option(value='60', title='Virgin Islands') Virgin Islands
													option(value='61', title='Virginia') Virginia
													option(value='62', title='Washington') Washington
													option(value='63', title='West Virginia') West Virginia
													option(value='64', title='Wisconsin') Wisconsin
													option(value='65', title='Wyoming') Wyoming
												input#region.input-text.required-entry(type='text', name='region', value='', title='State/Province', style='display: none;')
										li
											label(for='postcode') Zip/Postal Code
											.input-box
												input#postcode.input-text.validate-postcode(type='text', name='estimate_postcode', value='')
									.buttons-set11
										button.button.get-quote(type='button', title='Get a Quote', onclick='coShippingMethodForm.submit()')
											span Get a Quote
									// buttons-set11
					.col-sm-4
						.discount
							h3 Discount Codes
							form#discount-coupon-form(action='', method='post')
								label(for='coupon_code') Enter your coupon code if you have one.
								input#remove-coupone(type='hidden', name='remove', value='0')
								input#coupon_code.input-text.fullwidth(type='text', name='coupon_code', value='')
								button.button.coupon(type='button', title='Apply Coupon', onclick='discountForm.submit(false)', value='Apply Coupon')
									span Apply Coupon
						// discount
					// col-sm-4
					.col-sm-4
						.totals
							h3 Shopping Cart Total
							.inner
								table#shopping-cart-totals-table.table.shopping-cart-table-total
									colgroup
										col
										col(width='1')
									tfoot
										tr
											td.a-left(style='', colspan='1')
												strong Grand Total
											td.a-right(style='')
												strong
													span.price $129.00
									tbody
										tr
											td.a-left(style='', colspan='1')
												| Subtotal
											td.a-right(style='')
												span.price $129.00
								ul.checkout
									li
										button.button.btn-proceed-checkout(type='button', title='Proceed to Checkout', onclick='')
											span Proceed to Checkout
									br
									li
										a(href='multiple-addresses.html', title='Checkout with Multiple Addresses') Checkout with Multiple Addresses
									br
							// inner