doctype html
html.js.no-touch.localstorage(lang='en')
	head
		title Login Page
	body.customer-account-login.rtl(style='')
		#page
			header
				#header
					.header-container.container
						.row
							.logo
								a(href='index.html', title='Flavours HTML')
									div
										img(src='images/logo.png', alt='Flavours Store')
							.fl-nav-menu
								nav
									.mm-toggle-wrap
										.mm-toggle
											i.icon-align-justify
											span.mm-label Menu
									.nav-inner
										// BEGIN NAV
										ul#nav.hidden-xs
											li.mega-menu
												a.level-top(href='grid.html')
													span Women
												.level0-wrapper.dropdown-6col
													.container
														.level0-wrapper2
															.col-1
																.nav-block.nav-block-center
																	ul.level0
																		li.level1.nav-6-1.parent.item
																			a(href='#.html')
																				span Handbags
																			ul.level1
																				li.level2.nav-6-1-1
																					a(href='#')
																						span Clutch Handbags
																				li.level2.nav-6-1-1
																					a(href='#/diaper-bags.html')
																						span Diaper Bags
																				li.level2.nav-6-1-1
																					a(href='#/bags.html')
																						span Bags
																				li.level2.nav-6-1-1
																					a(href='#/hobo-handbags.html')
																						span Hobo handbags
																		li.level1.nav-6-1.parent.item
																			a(href='#.html')
																				span JACKETS
																			ul.level1
																				li.level2.nav-6-1-1
																					a(href='#/beaded-handbags.html')
																						span Bathtime Goods 
																				li.level2.nav-6-1-1
																					a(href='#/fabric-handbags.html')
																						span Bedding
																				li.level2.nav-6-1-1
																					a(href='#/handbags.html')
																						span Blankets
																				li.level2.nav-6-1-1
																					a(href='#/leather-handbags.html')
																						span Shower Curtains
																		li.level1.nav-6-1.parent.item
																			a(href='#.html')
																				span Shoes
																			ul.level1
																				li.level2.nav-6-1-1
																					a(href='#/flat-shoes.html')
																						span Flat Shoes
																				li.level2.nav-6-1-1
																					a(href='#/flat-sandals.html')
																						span Flat Sandals
																				li.level2.nav-6-1-1
																					a(href='#/boots.html')
																						span Boots
																				li.level2.nav-6-1-1
																					a(href='#/heels.html')
																						span Heels
																		li.level1.nav-6-1.parent.item
																			a(href='#.html')
																				span Jwellery
																			ul.level1
																				li.level2.nav-6-1-1
																					a(href='#/bracelets.html')
																						span Bracelets
																				li.level2.nav-6-1-1
																					a(href='#')
																						span Necklaces & Pendent
																				li.level2.nav-6-1-1
																					a(href='#/pendants.html')
																						span Pendants
																				li.level2.nav-6-1-1
																					a(href='#/pins-brooches.html')
																						span Pins & Brooches
																		li.level1.nav-6-1.parent.item
																			a(href='#.html')
																				span Dresses
																			ul.level1
																				li.level2.nav-6-1-1
																					a(href='#/casual-dresses.html')
																						span Casual Dresses
																				li.level2.nav-6-1-1
																					a(href='#/evening.html')
																						span Evening
																				li.level2.nav-6-1-1
																					a(href='#/designer.html')
																						span Designer
																				li.level2.nav-6-1-1
																					a(href='#/party.html')
																						span Party
																		li.level1.nav-6-1.parent.item
																			a(href='#/swimwear.html')
																				span Swimwear
																			ul.level1
																				li.level2.nav-6-1-1
																					a(href='#/swimwear/swimsuits.html')
																						span Swimsuits
																				li.level2.nav-6-1-1
																					a(href='#/swimwear/beach-clothing.html')
																						span Beach Clothing
																				li.level2.nav-6-1-1
																					a(href='#/swimwear/clothing.html')
																						span Clothing
																				li.level2.nav-6-1-1
																					a(href='#/swimwear/bikinis.html')
																						span Bikinis
															// nav-block nav-block-center
															.col-2
																.menu_image
																	a(href='#', title='')
																		img(src='images/menu_image.png', alt='menu_image')
														// level0-wrapper2
											li.mega-menu
												a.level-top(href='grid.html')
													span Men‎
												.level0-wrapper.dropdown-6col
													.container
														.level0-wrapper2
															.nav-block.nav-block-center
																ul.level0
																	li.level1.nav-6-1.parent.item
																		a(href='#.html')
																			span Shoes
																		ul.level1
																			li.level2.nav-6-1-1
																				a(href='#/sport-shoes.html')
																					span Sport Shoes
																			li.level2.nav-6-1-1
																				a(href='#/casual-shoes.html')
																					span Casual Shoes
																			li.level2.nav-6-1-1
																				a(href='#/leather-shoes.html')
																					span Leather Shoes
																			li.level2.nav-6-1-1
																				a(href='#/canvas-shoes.html')
																					span canvas shoes
																	li.level1.nav-6-1.parent.item
																		a(href='#.html')
																			span Dresses
																		ul.level1
																			li.level2.nav-6-1-1
																				a(href='#/casual-dresses.html')
																					span Casual Dresses
																			li.level2.nav-6-1-1
																				a(href='#/evening.html')
																					span Evening
																			li.level2.nav-6-1-1
																				a(href='#/designer.html')
																					span Designer
																			li.level2.nav-6-1-1
																				a(href='#/party.html')
																					span Party
																	li.level1.nav-6-1.parent.item
																		a(href='#.html')
																			span Jackets
																		ul.level1
																			li.level2.nav-6-1-1
																				a(href='#/coats.html')
																					span Coats
																			li.level2.nav-6-1-1
																				a(href='#/formal-jackets.html')
																					span Formal Jackets
																			li.level2.nav-6-1-1
																				a(href='#/leather-jackets.html')
																					span Leather Jackets
																			li.level2.nav-6-1-1
																				a(href='#/blazers.html')
																					span Blazers
																	li.level1.nav-6-1.parent.item
																		a(href='#.html')
																			span Watches
																		ul.level1
																			li.level2.nav-6-1-1
																				a(href='#/fasttrack.html')
																					span Fasttrack
																			li.level2.nav-6-1-1
																				a(href='#/casio.html')
																					span Casio
																			li.level2.nav-6-1-1
																				a(href='#/titan.html')
																					span Titan
																			li.level2.nav-6-1-1
																				a(href='#/tommy-hilfiger.html')
																					span Tommy-Hilfiger
																	li.level1.nav-6-1.parent.item
																		a(href='#/sunglasses.html')
																			span Sunglasses
																		ul.level1
																			li.level2.nav-6-1-1
																				a(href='#/sunglasses/ray-ban.html')
																					span Ray Ban
																			li.level2.nav-6-1-1
																				a(href='#/sunglasses/fasttrack.html')
																					span Fasttrack
																			li.level2.nav-6-1-1
																				a(href='#/sunglasses/police.html')
																					span Police
																			li.level2.nav-6-1-1
																				a(href='#/sunglasses/oakley.html')
																					span Oakley
																	li.level1.nav-6-1.parent.item
																		a(href='#/accesories.html')
																			span Accesories
																		ul.level1
																			li.level2.nav-6-1-1
																				a(href='#/accesories/backpacks.html')
																					span Backpacks
																			li.level2.nav-6-1-1
																				a(href='#/accesories/wallets.html')
																					span Wallets
																			li.level2.nav-6-1-1
																				a(href='#/accesories/laptops-bags.html')
																					span Laptops Bags
																			li.level2.nav-6-1-1
																				a(href='#/accesories/belts.html')
																					span Belts
															// nav-block nav-block-center
															.nav-add
																.push_item
																	.push_img
																		a(href='#')
																			img(src='images/menu-img2.jpg', alt='menu item 1')
																.push_item
																	.push_img
																		a(href='#')
																			img(src='images/menu-img1.jpg', alt='menu item 2')
																.push_item
																	.push_img
																		a(href='#')
																			img(src='images/menu-img3.jpg', alt='menu item 3')
																.push_item.push_item_last
																	.push_img
																		a(href='#')
																			img(src='images/menu-img4.jpg', alt='menu item 4')
														// level0-wrapper2
													// container
												// level0-wrapper dropdown-6col
												// mega menu
											li.mega-menu
												a.level-top(href='grid.html')
													span Electronics
												.level0-wrapper.dropdown-6col
													.container
														.level0-wrapper2
															.nav-block.nav-block-center
																ul.level0
																	li.level1.nav-6-1.parent.item
																		a(href='#/mobiles.html')
																			span Mobiles
																		ul.level1
																			li.level2.nav-6-1-1
																				a(href='#/mobiles/samsung.html')
																					span Samsung
																			li.level2.nav-6-1-1
																				a(href='#/mobiles/nokia.html')
																					span Nokia
																			li.level2.nav-6-1-1
																				a(href='#/mobiles/iphone.html')
																					span IPhone
																			li.level2.nav-6-1-1
																				a(href='#/mobiles/sony.html')
																					span Sony
																	li.level1.nav-6-1.parent.item
																		a(href='#.html')
																			span Accesories
																		ul.level1
																			li.level2.nav-6-1-1
																				a(href='#/mobile-memory-cards.html')
																					span Mobile Memory Cards
																			li.level2.nav-6-1-1
																				a(href='#/cases-covers.html')
																					span Cases & Covers
																			li.level2.nav-6-1-1
																				a(href='#/mobile-haedphones.html')
																					span Mobile Headphones
																			li.level2.nav-6-1-1
																				a(href='#/bluetooth-headsets.html')
																					span Bluetooth Headsets
																	li.level1.nav-6-1.parent.item
																		a(href='#/cameras.html')
																			span Cameras
																		ul.level1
																			li.level2.nav-6-1-1
																				a(href='#/cameras/camcorders.html')
																					span Camcorders
																			li.level2.nav-6-1-1
																				a(href='#/cameras/point-shoot.html')
																					span Point & Shoot
																			li.level2.nav-6-1-1
																				a(href='#/cameras/digital-slr.html')
																					span Digital SLR
																			li.level2.nav-6-1-1
																				a(href='#camera-accesories.html')
																					span Camera Accesories
																	li.level1.nav-6-1.parent.item
																		a(href='#/audio-video.html')
																			span Audio & Video
																		ul.level1
																			li.level2.nav-6-1-1
																				a(href='#/audio-video/mp3-players.html')
																					span MP3 Players
																			li.level2.nav-6-1-1
																				a(href='#/audio-video/ipods.html')
																					span IPods
																			li.level2.nav-6-1-1
																				a(href='#/audio-video/speakers.html')
																					span Speakers
																			li.level2.nav-6-1-1
																				a(href='#/audio-video/video-players.html')
																					span Video Players
																	li.level1.nav-6-1.parent.item
																		a(href='#/computer.html')
																			span Computer
																		ul.level1
																			li.level2.nav-6-1-1
																				a(href='#/external-hard-disk.html')
																					span External Hard Disk
																			li.level2.nav-6-1-1
																				a(href='#/computer/pendrives.html')
																					span Pendrives
																			li.level2.nav-6-1-1
																				a(href='#/computer/headphones.html')
																					span Headphones
																			li.level2.nav-6-1-1
																				a(href='#/computer/pc-components.html')
																					span PC Components
																	li.level1.nav-6-1.parent.item
																		a(href='#/home-appliances.html')
																			span Appliances
																		ul.level1
																			li.level2.nav-6-1-1
																				a(href='#/vaccum-cleaners.html')
																					span Vaccum Cleaners
																			li.level2.nav-6-1-1
																				a(href='#/indoor-lighting.html')
																					span Indoor Lighting
																			li.level2.nav-6-1-1
																				a(href='#/kitchen-tools.html')
																					span Kitchen Tools
																			li.level2.nav-6-1-1
																				a(href='#/water-purifier.html')
																					span Water Purifier
														// level0-wrapper2
											li.mega-menu
												a.level-top(href='grid.html')
													span Furniture‎
											li.level0.parent.drop-menu
												a(href='#')
													span Pages
												// sub sub category
												ul.level1
													li.level1.first
														a(href='grid.html')
															span Product Grid
													li.level1.nav-10-2
														a(href='list.html')
															span Product List
													li.level1.nav-10-3
														a(href='product-detail.html')
															span Product Detail
													li.level1.nav-10-4
														a(href='shopping-cart.html')
															span Cart Page
													li.level1.first.parent
														a(href='checkout.html')
															span Checkout
														// sub sub category
														ul.level2.right-sub
															li.level2.nav-2-1-1.first
																a(href='checkout-method.html')
																	span Method
															li.level2.nav-2-1-5.last
																a(href='checkout-billing-info.html')
																	span Billing Info
														// sub sub category
													li.level1.nav-10-4
														a(href='wishlist.html')
															span Wishlist
													li.level1
														a(href='dashboard.html')
															span Dashboard
													li.level1
														a(href='multiple-addresses.html')
															span Multiple Addresses
													li.level1
														a(href='about-us.html')
															span About us
													li.level1.first.parent
														a(href='blog.html')
															span Blog
														// sub sub category
														ul.level2.right-sub
															li.level2.nav-2-1-1.first
																a(href='blog-detail.html')
																	span Blog Detail
														// sub sub category
													li.level1
														a(href='contact-us.html')
															span Contact us
													li.level1
														a(href='404error.html')
															span 404 Error Page
													li.level1
														a(href='login.html')
															span Login Page
													li.level1
														a(href='quickview.html')
															span Quick View
													li.level1
														a(href='newsletter.html')
															span Newsletter
											li.fl-custom-tabmenulink.mega-menu
												a.level-top(href='#')
													span Custom
												.level0-wrapper.fl-custom-tabmenu
													.container
														.header-nav-dropdown-wrapper.clearer
															.grid12-3
																div
																	a.product-image(href='product-detail.html', title='Retis lapen casen')
																		img(src='products-images/p6.jpg', alt='Retis lapen casen')
																h4
																	a(href='product-detail.html', title='Retis lapen casen') Retis lapen casen
																.rating
																	.ratings
																		.rating-box
																			.rating(style='width:80%')
																		p.rating-links
																			a(href='#') 1 Review(s)
																			span.separator |
																			a(href='#') Add Review
																p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
																.more_link Learn More
															.grid12-3
																div
																	a.product-image(href='product-detail.html', title='Retis lapen casen')
																		img(src='products-images/p11.jpg', alt='Retis lapen casen')
																h4
																	a(href='product-detail.html', title='Retis lapen casen') Retis lapen casen
																.rating
																	.ratings
																		.rating-box
																			.rating(style='width:80%')
																		p.rating-links
																			a(href='#') 1 Review(s)
																			span.separator |
																			a(href='#') Add Review
																p Sed et quam lacus. Fusce condimentum eleifend enim.
																.more_link Learn More
															.grid12-3
																div
																	a.product-image(href='product-detail.html', title='Retis lapen casen')
																		img(src='products-images/p14.jpg', alt='Retis lapen casen')
																h4
																	a(href='product-detail.html', title='Retis lapen casen') Retis lapen casen
																.rating
																	.ratings
																		.rating-box
																			.rating(style='width:80%')
																		p.rating-links
																			a(href='#') 1 Review(s)
																			span.separator |
																			a(href='#') Add Review
																p Sed et quam lacus. Fusce condimentum eleifend enim.
																.more_link Learn More
															.grid12-3.last
																div
																	a.product-image(href='product-detail.html', title='Retis lapen casen')
																		img(src='products-images/p9.jpg', alt='Retis lapen casen')
																h4
																	a(href='product-detail.html', title='Retis lapen casen') Retis lapen casen
																.rating
																	.ratings
																		.rating-box
																			.rating(style='width:80%')
																		p.rating-links
																			a(href='#') 1 Review(s)
																			span.separator |
																			a(href='#') Add Review
																p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
																.more_link Learn More
										// nav
							// row
						.fl-header-right
							.fl-links
								.no-js
									a.clicker(title='Company')
									.fl-nav-links
										.language-currency
											.fl-language
												ul.lang
													li
														a(href='#')
															img(src='images/english.png', alt='English')
															span English
													li
														a(href='#')
															img(src='images/francais.png', alt='French')
															span French
													li
														a(href='#')
															img(src='images/german.png', alt='German')
															span German
											// fl-language
											// END For version 1,2,3,4,6
											// For version 1,2,3,4,6
											.fl-currency
												ul.currencies_list
													li
														a(href='#', title='EGP')  £
													li
														a(href='#', title='EUR')  €
													li
														a(href='#', title='USD')  $
											// fl-currency
											// END For version 1,2,3,4,6
										ul.links
											li
												a(href='dashboard.html', title='My Account') My Account
											li
												a(href='wishlist.html', title='Wishlist') Wishlist
											li
												a(href='checkout.html', title='Checkout') Checkout
											li
												a(href='blog.html', title='Blog')
													span Blog
											li.last
												a(href='login.html', title='Login')
													span Login
							.fl-cart-contain
								.mini-cart
									.basket
										a(href='shopping-cart.html')  
									.fl-mini-cart-content
										.block-subtitle
											.top-subtotal
												| 2 items, 
												span.price $449.99
											// top-subtotal
											// pull-right
										// block-subtitle
										ul#cart-sidebar.mini-products-list
											li.item.first
												.item-inner
													a.product-image(title='timi & leslie Sophia Diaper Bag, Lemon Yellow/Shadow White', href='#l')
														img(alt='timi & leslie Sophia Diaper Bag, Lemon Yellow/Shadow White', src='products-images/p4.jpg')
													.product-details
														.access
															a.btn-remove1(title='Remove This Item', href='#') Remove
															a.btn-edit(title='Edit item', href='#')
																i.icon-pencil
																span.hidden Edit item
														// access
														strong 1
														|  x 
														span.price $179.99
														p.product-name
															a(href='product-detail.html') Retis lapen casen
											li.item.last
												.item-inner
													a.product-image(title='JP Lizzy Satchel Designer Diaper Bag - Slate Citron', href='#')
														img(alt='JP Lizzy Satchel Designer Diaper Bag - Slate Citron', src='products-images/p3.jpg')
													.product-details
														.access
															a.btn-remove1(title='Remove This Item', href='#') Remove
															a.btn-edit(title='Edit item', href='#')
																i.icon-pencil
																span.hidden Edit item
														// access
														strong 1
														|  x 
														span.price $80
														p.product-name
															a(href='product-detail.html') Retis lapen casen
										.actions
											button.btn-checkout(title='Checkout', type='button', onclick='window.location=checkout.html')
												span Checkout
											button.view-cart(title='Checkout', type='button', onclick='window.location=checkout.html')
												span View Cart
										// actions
									// fl-mini-cart-content
							// mini-cart
							.collapse.navbar-collapse
								form.navbar-form(role='search')
									.input-group
										input#desktopSearchInput.GlobalNavSearch.js-globalSearchInput(placeholder='Search', autocorrect='off', data-reactid='.1.0.0.0')
										label.GlobalNavSearch-searchIcon(for='desktopSearchInput', data-reactid='.1.0.0.1')
							// links
			.page-heading
				.container
					.row
						.col-xs-12
							.page-title
								h2 Login or Create an Account
						// col-xs-12
					// row
				// container
			// BEGIN Main Container
			.main-container.col1-layout.wow.bounceInUp.animated.animated(style='visibility: visible;')
				.main
					.account-login.container
						// page-title
						form#login-form(action='', method='post')
							input(name='form_key', type='hidden', value='EPYwQxF6xoWcjLUr')
							fieldset.col2-set
								.col-1.new-users
									strong New Customers
									.content
										p
											| By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.
										.buttons-set
											button.button.create-account(type='button', title='Create an Account', onclick='')
												span
													span Create an Account
								.col-2.registered-users
									strong Registered Customers
									.content
										p If you have an account with us, please log in.
										ul.form-list
											li
												label(for='email')
													| Email Address
													em.required *
												.input-box
													input#email.input-text.required-entry.validate-email(type='text', name='login[username]', value='', title='Email Address')
											li
												label(for='pass')
													| Password
													em.required *
												.input-box
													input#pass.input-text.required-entry.validate-password(type='password', name='login[password]', title='Password')
										.remember-me-popup
											.remember-me-popup-head(style='display:none')
												h3#text2 What's this?
												a.remember-me-popup-close(href='#', onclick='showDiv()', title='Close') Close
											.remember-me-popup-body(style='display:none')
												p#text1
													| Checking "Remember Me" will let you access your shopping cart on this computer when you are logged out
												.remember-me-popup-close-button.a-right
													a.remember-me-popup-close.button(href='#', title='Close', onclick='\
													showDiv()')
														span Close
										p.required * Required Fields
										.buttons-set
											button#send2.button.login(type='submit', title='Login', name='send')
												span Login
											a.forgot-word(href='#') Forgot Your Password?
										// buttons-set
									// content
								// col-2 registered-users
							// col2-set
					// account-login
				// main-container
			// col1-layout
			// For version 1,2,3,4,6
			footer
				// BEGIN INFORMATIVE FOOTER
				.footer-inner
					.newsletter-row
						.container
							.row
								.col-lg-4.col-md-4.col-sm-4.col-xs-12.col
									// Footer Payment Link
									.payment-accept
										div
											img(src='images/payment-1.png', alt='payment1')
											img(src='images/payment-2.png', alt='payment2')
											img(src='images/payment-3.png', alt='payment3')
											img(src='images/payment-4.png', alt='payment4')
								// Footer Newsletter
								.col-lg-8.col-md-8.col-sm-8.col-xs-12.col1
									.newsletter-wrap
										h4 Sign up for emails
										form#newsletter-validate-detail1(action='#', method='post')
											#container_form_news
												#container_form_news2
													input#newsletter1.input-text.required-entry.validate-email(type='text', name='email', title='Sign up for our newsletter', placeholder='Enter your email address')
													button.button.subscribe(type='submit', title='Subscribe')
														span Subscribe
												// container_form_news2
											// container_form_news
									// newsletter-wrap
						// footer-column-last
					.container
						.row
							.col-sm-4.col-xs-12.col-lg-4
								.co-info
									h4 Contact Us
									address
										div
											em.icon-location-arrow
											span ThemesGround, Anytown, CA 12345 USA
										div
											em.icon-mobile-phone
											span  +(888) 123-4567
										div
											em.icon-envelope
											span nexus@themesground.com
									.social
										.footer-logo
											a(href='index.html')
												img(src='images/footer-logo.png', alt='footer logo')
										ul.link
											li.fb.pull-left
												a(target='_blank', rel='nofollow', href='#', title='Facebook')
											li.tw.pull-left
												a(target='_blank', rel='nofollow', href='#', title='Twitter')
											li.googleplus.pull-left
												a(target='_blank', rel='nofollow', href='#', title='GooglePlus')
											li.rss.pull-left
												a(target='_blank', rel='nofollow', href='#', title='RSS')
											li.pintrest.pull-left
												a(target='_blank', rel='nofollow', href='#', title='PInterest')
											li.linkedin.pull-left
												a(target='_blank', rel='nofollow', href='#', title='Linkedin')
											li.youtube.pull-left
												a(target='_blank', rel='nofollow', href='#', title='Youtube')
							.col-sm-8.col-xs-12.col-lg-8
								.footer-column
									h4 Customer Service
									ul.links
										li.first
											a(href='#', title='Contact us') My Account
										li
											a(href='#', title='About us') Order History
										li
											a(href='#', title='faq') FAQ
										li
											a(href='#', title='Popular Searches') Specials
										li.last
											a(href='#', title='Where is my order?') Help Center
								.footer-column
									h4 Corporation
									ul.links
										li.first
											a(title='Your Account', href='#') About us
										li
											a(title='Information', href='#') Customer Service
										li
											a(title='Addresses', href='#') Company
										li
											a(title='Addresses', href='#') Investor Relations
										li.last
											a(title='Orders History', href='#') Advanced Search
								.footer-column
									h4 Why choose Us
									ul.links
										li.first
											a(href='#', title='About us') Shopping Guide
										li
											a(href='#', title='Blog') Blog
										li
											a(href='#', title='Company') Company
										li
											a(href='#', title='Investor Relations') Investor Relations
										li.last
											a(href='contact-us.html', title='Suppliers') Contact Us
							// col-sm-12 col-xs-12 col-lg-8
							// col-xs-12 col-lg-4
						// row
					// container
				// footer-inner
				.footer-middle
					.container
						.row
							.our-features-box.wow.bounceInUp.animated.animated
								.container
									ul
										li
											.feature-box.free-shipping
												.icon-truck
												.content Free Shipping on order over $99
										li
											.feature-box.need-help
												.icon-support
												.content Need Help +(888) 123-4567
										li
											.feature-box.money-back
												.icon-money
												.content Money Back Guarantee
										li.last
											.feature-box.return-policy
												.icon-return
												.content 30 days return Service
						// row
					// container
				// BEGIN SIMPLE FOOTER
			// End For version 1,2,3,4,6
		// page
		// Mobile Menu
		#mobile-menu
			ul.mobile-menu
				li
					.home
						a(href='#')
							i.icon-home
							| Home
				li
					span.expand.fa.fa-plus
					a(href='#') Pages
					ul
						li
							a(href='grid.html') Grid
						li
							a(href='list.html') List
						li
							a(href='product-detail.html') Product Detail
						li
							a(href='shopping-cart.html') Shopping Cart
						li
							span.expand.fa.fa-plus
							a(href='checkout.html') Checkout
							ul
								li
									a(href='checkout-method.html') Checkout Method
								li
									a(href='checkout-billing-info.html') Checkout Billing Info
						li
							a(href='wishlist.html') Wishlist
						li
							a(href='dashboard.html') Dashboard
						li
							a(href='multiple-addresses.html') Multiple Addresses
						li
							a(href='about-us.html') About us
						li
							span.expand.fa.fa-plus
							a(href='blog.html') Blog
							ul
								li
									a(href='blog-detail.html') Blog Detail
						li
							a(href='contact-us.html') Contact us
						li
							a(href='404error.html') 404 Error Page
				li
					span.expand.fa.fa-plus
					a(href='#') Women
					ul
						li
							span.expand.fa.fa-plus
							a(href='#') Stylish Bag
							ul
								li
									a(href='#') Clutch Handbags
								li
									a(href='#l') Diaper Bags
								li
									a(href='#') Bags
								li
									a(href='#') Hobo handbags
						li
							span.expand.fa.fa-plus
							a(href='#') Material Bag
							ul
								li
									a(href='#') Beaded Handbags
								li
									a(href='#') Fabric Handbags
								li
									a(href='#') Handbags
								li
									a(href='#') Leather Handbags
						li
							span.expand.fa.fa-plus
							a(href='#') Shoes
							ul
								li
									a(href='#') Flat Shoes
								li
									a(href='#') Flat Sandals
								li
									a(href='#') Boots
								li
									a(href='#') Heels
						li
							span.expand.fa.fa-plus
							a(href='#') Jwellery
							ul
								li
									a(href='#') Bracelets
								li
									a(href='#') Necklaces & Pendent
								li
									a(href='#l') Pendants
								li
									a(href='#') Pins & Brooches
						li
							span.expand.fa.fa-plus
							a(href='#') Dresses
							ul
								li
									a(href='#') Casual Dresses
								li
									a(href='#') Evening
								li
									a(href='#') Designer
								li
									a(href='#') Party
						li
							span.expand.fa.fa-plus
							a(href='#') Swimwear
							ul
								li
									a(href='#') Swimsuits
								li
									a(href='#') Beach Clothing
								li
									a(href='#') Clothing
								li
									a(href='#') Bikinis
				li
					span.expand.fa.fa-plus
					a(href='#') Men
					ul
						li
							span.expand.fa.fa-plus
							a(href='#') Shoes
							ul.level1
								li.level2.nav-6-1-1
									a(href='#') Sport Shoes
								li.level2.nav-6-1-1
									a(href='#') Casual Shoes
								li.level2.nav-6-1-1
									a(href='#') Leather Shoes
								li.level2.nav-6-1-1
									a(href='#') canvas shoes
						li
							span.expand.fa.fa-plus
							a(href='#') Dresses
							ul.level1
								li.level2.nav-6-1-1
									a(href='#') Casual Dresses
								li.level2.nav-6-1-1
									a(href='#') Evening
								li.level2.nav-6-1-1
									a(href='#') Designer
								li.level2.nav-6-1-1
									a(href='#') Party
						li
							span.expand.fa.fa-plus
							a(href='#') Jackets
							ul.level1
								li.level2.nav-6-1-1
									a(href='#') Coats
								li.level2.nav-6-1-1
									a(href='#') Formal Jackets
								li.level2.nav-6-1-1
									a(href='#') Leather Jackets
								li.level2.nav-6-1-1
									a(href='#') Blazers
						li
							span.expand.fa.fa-plus
							a(href='#') Watches
							ul.level1
								li.level2.nav-6-1-1
									a(href='#') Fasttrack
								li.level2.nav-6-1-1
									a(href='#') Casio
								li.level2.nav-6-1-1
									a(href='#') Titan
								li.level2.nav-6-1-1
									a(href='#') Tommy-Hilfiger
						li
							span.expand.fa.fa-plus
							a(href='#') Sunglasses
							ul.level1
								li.level2.nav-6-1-1
									a(href='#') Ray Ban
								li.level2.nav-6-1-1
									a(href='#') Fasttrack
								li.level2.nav-6-1-1
									a(href='#') Police
								li.level2.nav-6-1-1
									a(href='#') Oakley
						li
							span.expand.fa.fa-plus
							a(href='#') Accesories
							ul.level1
								li.level2.nav-6-1-1
									a(href='#') Backpacks
								li.level2.nav-6-1-1
									a(href='#') Wallets
								li.level2.nav-6-1-1
									a(href='#') Laptops Bags
								li.level2.nav-6-1-1
									a(href='#') Belts
				li
					span.expand.fa.fa-plus
					a(href='#') Electronics
					ul
						li
							span.expand.fa.fa-plus
							a(href='#')
							ul
								li
									a(href='#')
										span Samsung
								li
									a(href='#')
										span Nokia
								li
									a(href='#')
										span IPhone
								li
									a(href='#')
										span Sony
						li
							span.expand.fa.fa-plus
							a(href='#')
								span Accesories
							ul
								li
									a(href='#')
										span Mobile Memory Cards
								li
									a(href='#')
										span Cases & Covers
								li
									a(href='#')
										span Mobile Headphones
								li
									a(href='#')
										span Bluetooth Headsets
						li
							span.expand.fa.fa-plus
							a(href='#')
								span Cameras
							ul
								li
									a(href='#')
										span Camcorders
								li
									a(href='#')
										span Point & Shoot
								li
									a(href='#')
										span Digital SLR
								li
									a(href='#')
										span Camera Accesories
						li
							span.expand.fa.fa-plus
							a(href='#')
								span Audio & Video
							ul
								li
									a(href='#')
										span MP3 Players
								li
									a(href='#')
										span IPods
								li
									a(href='#')
										span Speakers
								li
									a(href='#')
										span Video Players
						li
							span.expand.fa.fa-plus
							a(href='#')
								span Computer
							ul
								li
									a(href='#')
										span External Hard Disk
								li
									a(href='#')
										span Pendrives
								li
									a(href='#')
										span Headphones
								li
									a(href='#')
										span PC Components
						li
							span.expand.fa.fa-plus
							a(href='#')
								span Appliances
							ul
								li
									a(href='#')
										span Vaccum Cleaners
								li
									a(href='#')
										span Indoor Lighting
								li
									a(href='#')
										span Kitchen Tools
								li
									a(href='#')
										span Water Purifier
				li
					a(href='#') Furniture
				li
					a(href='#') Kids
				li
					a(href='contact-us.html') Contact Us
		// JavaScript
		script(type='text/javascript', src='js/jquery.min.js')
		script(type='text/javascript', src='js/bootstrap.min.js')
		script(type='text/javascript', src='js/parallax.js')
		script(type='text/javascript', src='js/revslider.js')
		script(type='text/javascript', src='js/common.js')
		script(type='text/javascript', src='js/jquery.bxslider.min.js')
		script(type='text/javascript', src='js/jquery.flexslider.js')
		script(type='text/javascript', src='js/owl.carousel.min.js')
		script(type='text/javascript', src='js/jquery.mobile-menu.min.js')
