include ../mixins/flash-messages

doctype
html
	head
		meta(charset="utf-8")
		block head
		title= title || '基于keystone的电商'
		include ./link
	body
		include ./header
		block content
		include ./footer
		script(type='text/javascript', src='/js/jquery.min.js')
		script(type='text/javascript', src='/js/bootstrap.min.js')
		script(type='text/javascript', src='/js/revslider.js')
		script(type='text/javascript', src='/js/common.js')
		script(type='text/javascript', src='/js/countdown.js')
		script(type='text/javascript', src='/js/jquery.bxslider.min.js')
		script(type='text/javascript', src='/js/owl.carousel.min.js')
		script(type='text/javascript', src='/js/jquery.mobile-menu.min.js')
		script(type='text/javascript', src='/js/head.js')
		script(type='text/javascript', src='/js/layer.js')

		block js
