footer
	// BEGIN INFORMATIVE FOOTER
	.footer-inner
		//- .newsletter-row
		//- 	.container
		//- 		.row
		//- 			.col-lg-4.col-md-4.col-sm-4.col-xs-12.col
		//- 				// Footer Payment Link
		//- 				.payment-accept
		//- 					div
		//- 						img(src='images/payment-1.png', alt='payment1')
		//- 						img(src='images/payment-2.png', alt='payment2')
		//- 						img(src='images/payment-3.png', alt='payment3')
		//- 						img(src='images/payment-4.png', alt='payment4')
		//- 			// Footer Newsletter
		//- 			.col-lg-8.col-md-8.col-sm-8.col-xs-12.col1
		//- 				.newsletter-wrap
		//- 					h4 Sign up for emails
		//- 					form#newsletter-validate-detail1(action='#', method='post')
		//- 						#container_form_news
		//- 							#container_form_news2
		//- 								input#newsletter1.input-text.required-entry.validate-email(type='text', name='email', title='Sign up for our newsletter', placeholder='Enter your email address')
		//- 								button.button.subscribe(type='submit', title='Subscribe')
		//- 									span Subscribe
		//- 							// container_form_news2
		//- 						// container_form_news
		//- 				// newsletter-wrap
		//- 	// footer-column-last
		.container
			.row
				.col-sm-4.col-xs-12.col-lg-4
					.co-info
						h4 联系我们
						address
							div
								em.icon-location-arrow
								span 北京市朝阳区
							div
								em.icon-mobile-phone
								span +(888) 123-4567
							div
								em.icon-envelope
								span 123456@abcdefg.com
						.social
							.footer-logo
								a(href='#')
									img(src='/images/footer-logo.png', alt='footer logo')
							ul.link
								li.fb.pull-left
									a(target='_blank', rel='nofollow', href='#', title='Facebook')
								li.tw.pull-left
									a(target='_blank', rel='nofollow', href='#', title='Twitter')
								li.googleplus.pull-left
									a(target='_blank', rel='nofollow', href='#', title='GooglePlus')
								li.rss.pull-left
									a(target='_blank', rel='nofollow', href='#', title='RSS')
								li.pintrest.pull-left
									a(target='_blank', rel='nofollow', href='#', title='PInterest')
								li.linkedin.pull-left
									a(target='_blank', rel='nofollow', href='#', title='Linkedin')
								li.youtube.pull-left
									a(target='_blank', rel='nofollow', href='#', title='Youtube')
				.col-sm-8.col-xs-12.col-lg-8
					.footer-column
						h4 服务
						ul.links
							li.first
								a(href='#', title='faq') FAQ
							li
								a(href='#', title='特殊订单o.o') 特殊订单
							li.last
								a(href='#', title='我需要帮助~') 帮助中心
					.footer-column
						h4 合作
						ul.links
							li.first
								a(title='关于我们', href='#') 关于我们
							li.last
								a(title='o.o', href='#') o.o
					.footer-column
						h4 为什么选择我们呢？
						ul.links
							li.first
								a(href='#', title='我也不知道') 我也不知道
							li
								a(href='#', title='因为我们真诚！看我真诚的眼睛OvO') 因为我们真诚！看我真诚的眼睛OvO
							li.last
								a(href='#', title='请继续选择我们') 请继续选择我们
				// col-sm-12 col-xs-12 col-lg-8
				// col-xs-12 col-lg-4
			// row
		// container
	// footer-inner
	.footer-middle
		.container
			.row
				.our-features-box.wow.bounceInUp.animated.animated
					.container
						ul
							li
								.feature-box.free-shipping
									.icon-truck
									.content 满288包邮
							li
								.feature-box.need-help
									.icon-support
									.content 需要帮助？拨打 +(888) 123-4567
							li
								.feature-box.money-back
									.icon-money
									.content 保证交易安全
							li.last
								.feature-box.return-policy
									.icon-return
									.content 30天超长服务
			// row
		// container
	// BEGIN SIMPLE FOOTER
// End For version 1,2,3,4,6