link(rel='icon', href='#', type='image/x-icon')
link(rel='shortcut icon', href='#', type='image/x-icon')

link(rel='stylesheet', type='text/css', href='/stylesheet/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='/stylesheet/font-awesome.css', media='all')
link(rel='stylesheet', type='text/css', href='/stylesheet/revslider.css')
link(rel='stylesheet', type='text/css', href='/stylesheet/owl.carousel.css')
link(rel='stylesheet', type='text/css', href='/stylesheet/owl.theme.css')
link(rel='stylesheet', type='text/css', href='/stylesheet/jquery.bxslider.css')
link(rel='stylesheet', type='text/css', href='/stylesheet/jquery.mobile-menu.css')
link(rel='stylesheet', type='text/css', href='/stylesheet/style.css', media='all')
link(rel='stylesheet', type='text/css', href='/stylesheet/responsive.css', media='all')
link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800',rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700', rel='stylesheet', type='text/css')